[Desktop Entry]
Version=1.0
Type=Application
Name=Alacritty
Comment=A fast, cross-platform, OpenGL terminal emulator
Exec=alacritty
Icon=xterm-color
Path=
Terminal=false
StartupNotify=false
