[Desktop Entry]
Version=1.0
Type=Application
Name=Emacs (Client)
Comment=Edit text
Exec=sh -c "if [ -n \\"\\$*\\" ]; then exec emacsclient --alternate-editor= --display=\\"\\$DISPLAY\\" \\"\\$@\\"; else exec emacsclient --alternate-editor= --create-frame; fi" placeholder %F
Icon=emacs
Path=
Terminal=false
StartupNotify=true
